@import url('https://fonts.googleapis.com/css?family=Roboto');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }

body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    background: #fff;
    /* color: #333;     */
    background: linear-gradient(135deg, rgb(114, 119, 247) 60%, cyan);
}
:root {
    --primary-color: #003699;
    --dark-color: #333333;
    --light-color: #f4f4f4;
    --lose-color: #dc3545;
    --win-color: #28a745;
    --modal-duration: 1s;
  }

  .container {
    max-width: 1100px;
    margin: auto;
    overflow: hidden;
    padding: 0 2rem;
    text-align: center;
  }

  .restart-btn {
    display: none;
    background: var(--light-color);
    color: #333;
    padding: 0.4rem 1.3rem;
    font-size: 1.5rem;
    cursor: pointer;
    outline: none;
    border: none;
    margin-bottom: 1rem;
    border-radius: 5px;
  }
  
  .restart-btn:hover {
    background: var(--primary-color);
    color: #fff;
    border-bottom-left-radius: 30px;
  }


  .header {
    text-align: center;
    margin: 1rem 0;
  }

  .header h1 {
    margin-bottom: 1rem;
  }

  .score {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    font-size: 1.2rem;
    color: #fff;
    gap: 5px;
   
  }
  
  .score p:first-child {
    background: linear-gradient(0deg, green, yellow);
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
  }
  
  .score p:last-child {
    background: linear-gradient(0deg, red,skyblue);
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
  }

  
.choices {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2rem;
    margin-top: 3rem;
    text-align: center;
  }

  .choice:hover {
    color: var(--primary-color);
  }
  
  .text-win {
    color: var(--win-color);
  }

  .choice {
    cursor: pointer;
  }